<!-- SIDEBAR -->
<aside class="sidebar">

  <!-- LOGO -->
  <div class="logo">
    <div class="logo-icon">
      <i class="las la-university"></i>
    </div>

    <div class="logo-text">
      <h2>Banca Delle Canarie</h2>
      <span>LA TUA BANCA, SEMPRE CON TE</span>
    </div>
  </div>

  <!-- MENU -->
  <nav class="sidebar-menu">

    <a
      routerLink="/home"
      routerLinkActive="active"
      class="menu-item"
      (click)="closeSidebar.emit()"
    >
      <i class="las la-home"></i>
      <span>Home</span>
    </a>

    <a
      routerLink="/movimenti"
      routerLinkActive="active"
      class="menu-item"
      (click)="closeSidebar.emit()"
    >
      <i class="las la-file-invoice"></i>
      <span>Movimenti</span>
    </a>

    <a
      routerLink="/bonifico"
      routerLinkActive="active"
      class="menu-item"
      (click)="closeSidebar.emit()"
    >
      <i class="las la-exchange-alt"></i>
      <span>Bonifico</span>
    </a>

    <a
      routerLink="/ricarica"
      routerLinkActive="active"
      class="menu-item"
      (click)="closeSidebar.emit()"
    >
      <i class="las la-mobile-alt"></i>
      <span>Ricarica cellulare</span>
    </a>

    <div class="separator"></div>

    <a
      class="menu-item"
      routerLink="/profilo"
      routerLinkActive="active"
      (click)="closeSidebar.emit()"
    >
      <i class="las la-user"></i>
      <span>Profilo</span>
    </a>

    <a
      routerLink="/modifica-password"
      routerLinkActive="active"
      class="menu-item"
      (click)="closeSidebar.emit()"
    >
      <i class="las la-lock"></i>
      <span>Modifica password</span>
    </a>

    <div class="separator"></div>

    <a
      class="menu-item"
      (click)="logout(); closeSidebar.emit()"
    >
      <i class="las la-sign-out-alt"></i>
      <span>Logout</span>
    </a>

  </nav>

</aside>