<div class="page">

  <div class="card">


    <h1>Modifica Password</h1>


    <div class="form-group">

      <label>Password attuale</label>

      <input
        type="password"
        [(ngModel)]="passwordAttuale"
        placeholder="Inserisci password attuale">

    </div>



    <div class="form-group">

      <label>Nuova password</label>

      <input
        type="password"
        [(ngModel)]="nuovaPassword"
        placeholder="Inserisci nuova password">

    </div>



    <div class="form-group">

      <label>Conferma nuova password</label>

      <input
        type="password"
        [(ngModel)]="confermaPassword"
        placeholder="Conferma nuova password">

    </div>



    <button
      (click)="modificaPassword()">

      Modifica Password

    </button>



    <div
      *ngIf="messaggio"
      class="alert success">

      {{ messaggio }}

    </div>



    <div
      *ngIf="errore"
      class="alert error">

      {{ errore }}

    </div>


  </div>

</div>